
@{
    ViewBag.Title = "查詢";
}

<h2>圖書維護</h2>

<table>
    <tr>
        <td>
            書名:<input type="text"></br>
        </td>
    </tr>
    <tr>
        <td>
            圖書類別:<select>
                <option>1</option>
                <option>2</option>
            </select>
        </td>
    </tr>
    <tr>
        <td>
            借閱人:<select>
                <option>1</option>
                <option>2</option>
            </select>
        </td>
    </tr>
    <tr>
        <td>
            借閱狀態:<select>
                <option>1</option>
                <option>2</option>
            </select>
        </td>
    </tr>
    <tr>
        <td>
            <input type="submit" value="查詢">
            <input type="reset" value="清除">
            @Html.ActionLink("新增", "Create")
        </td>
    </tr>
</table>

